@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

.app-header {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 30001;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);

  &.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  #logo {
    font-weight: bold;
    cursor: pointer;

    > img {
      width: 30px;
      margin-right: 0.5rem;
    }

    .vis {
      color: #333;
    }

    .flow {
      color: #333;
    }
  }
}
