$icon-size: 35px;
$margin-size-sm: 0.1rem;

.node-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.square-icon {
  height: $icon-size;
  width: $icon-size;
}

.node-button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: $margin-size-sm;

  &:hover {
    transform: scale(1.2);
  }
}
