.port {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  z-index: 10;

  &:hover {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.3);
  }

  &.input {
    // Remove border on the right side where it touches the node
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.output {
    // Remove border on the left side where it touches the node
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-connected {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.45);
  }

  &.is-dragging {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }

  i {
    font-size: 5px;
    color: #555;
    pointer-events: none;
    
    &.fa-square {
      font-size: 9px;
    }
    
    &.fa-caret-left,
    &.fa-caret-right {
      font-size: 15px;
    }
  }
}


