.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;

  path {
    pointer-events: stroke;
    cursor: pointer;
    transition: stroke 0.2s;

    &:hover {
      stroke: #0d6efd !important;
      stroke-width: 3;
    }
  }

  &.is-selected path {
    stroke: #0d6efd;
    stroke-width: 3;
  }
}
